<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        </head>
        <body>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      		<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
			<script type="text/javascript" src="js/menubar.js"></script>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			
			<div class="container">		
			{{ content }}
			</div><!-- /.container -->
			
			<ul id = "slide-out" class = "side-nav">
				<li>
					<div class="user-view">
						<div class = "background"><img src = "assets/Flower.jpg" alt = "background pic" width = "100px" height = "100px"></div>
						<a href="#!user"><span class = "white-text-name">Chance Petersen</span></a>
					</div>
				</li>
				<li><a class = "waves-effect" href="https://playitbychance.github.io/">Home</a></li>
				<li><a class = "waves-effect" href="https://playitbychance.github.io/projects/">Projects</a></li>
			</ul>
			<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>	
		
	    <footer>
	    	<ul>
	        	<li><a href="mailto:chancepetersen92@gmail.com">email</a></li>
				<a href="https://github.com/PlayitbyChance" target="_blank"><img src = "assets/GitHub-Mark-64px.png" alt = "GitHub image"></a>
	   		</ul>
		</footer>
	    
	    </body>
		
	</html>
